<!-- 404.ejs -->
<html>
  <head>
    <title>404 - Not Found</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <h1>Page 404</h1>
    <%- include('footer') %>
  </body>
</html>
